<p id="notice"><%= notice %></p>

<h1>Listing Lists</h1>

<% @lists.each do |list| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to list.name, list %></h2>
    <p class="todo_list_sub_title"><%= list.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "New List", new_list_path %>
</div>
